table,td,th,tr {
    text-align: center;
   	border-collapse: collapse;
    border-style: solid;
    border-width: thin;
    width:500px;
    margin:0 auto;
  }

  tr{
      height: 2rem;
  }

  hr{
    background-color: #eeeeee;
    border-bottom: 0.5px;
    width: 95%;
  }

  .button {
    font-size: 1rem;
    border-radius: 8px;
    background-color: #e7e7e7; 
    color: black;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


  .top-container{
    vertical-align:middle;
    margin:0 auto 10px auto;
    text-align:center
    
  }
  .header-container{
    position: relative;
    top:-10px;
  }

  .login-container{
    position: relative;
    top: -10px;
  }
  .bottom-container{
    margin:0 auto;
    padding: 0 auto;
    position: relative;
    top:20px;
    text-align: center;
    vertical-align:middle;
    display: inline-block;
  }

  .title-name{
    font-weight: bold;
  }
  .price-range{
    width: 50px;
  }


  .card-container{
    background-color: #f4f3f4;
    border-collapse: collapse;
    border-style: solid;
    border-width: thin;
    display: flex;
    width:750px;
    height:220px;  
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 9px;
    margin:5px auto;
  }

  .card-container:hover {
    box-shadow: 0 40px 32px 0 rgba(0,0,0,0.2);
  }

  .card-text-container{

    width: 500px;
    max-height:100%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 0.9em;
    position: relative;
    top:10px;
  }

  .card-img-container{
    width:200px;
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    margin:auto;

  }
  .card-image{
    max-width: 90%;
    max-height: 90%;
    display:inline-block;
    margin: auto;
    border-style:solid;
    border-color:#f5f5f5;
    border-width:3px;
    cursor: pointer;
    transition: all 0.6s;

  }
  .card-image:hover{
    transform: scale(1.5);
    position:relative;
    z-index:100;
  }

  .category-name{
    font-style: italic;
    font-size: 1.1em;
    font-weight: 400;
  }

  .redirect-img{
    width:20px;
    height:20px;  
    position: relative; 
    left:5px;
    top:2px;
  }

  
  .card-conditions{
    vertical-align:middle; 
    display: inline;
    
  }
  .top-rated-img{
    vertical-align:middle; 
    width:24px;
    height: 32px;
    margin:0 auto;
    position: relative;
    z-index: 9999;
    left: 15px;
  }

  .other-cards-container{
    display: none;
    position: relative;
    top:-17px;

  }

  .card-title{
    font-weight: bold;
    width:90%;
    white-space: nowrap;  
    text-overflow:ellipsis; 
    overflow:hidden;
    color:#0017e4;
    text-decoration:underline;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }



  .card-price{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1em;
  }


  .show-container{
    vertical-align:middle;
    display: inline-block;
  }

  .show {
    font-size: 1.2em;
    border-radius: 4px;
    border-width: thin;
    background-color: #e7e7e7; 
    color: black;
    transition-duration: 0.4s;
    margin: 20px auto;
  }
  .show:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .red-cross{
    float:right;
    width:20px;
    height:20px;

    position: relative;
    right:20px;
    top:-5px;

  }

  .result-stat{
    font-family: 'Roboto', sans-serif;
  }

  .search-title{
    font-style: italic;
    font-weight: 900;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .no-result-text{
    position: relative;
    top:20px;
  }

  .card-location{
    font-style: italic;
    font-weight: 300;
  }

  #logo{
    height:50px;
    float: left;
  }
  #header-text{
    font-size: 1.7rem;
  }
  #star{
    color:red;
  }

  #sort-selector{
    width: 200px;
  }
  #show-more{
    display: none;
  }

  #show-less{
    display: none;
  }